@import "tailwindcss";





@layer utilities {
  .container {
    @apply w-full max-w-[1600px] mx-auto px-5;
  }
 .borBottom {
  @apply border-b-2 border-dashed border-desc border-white/60;
 }
 .borTop{
  @apply  border-t-2 border-dashed  border-desc border-white/60 ;
 }
 .btnFiltr{
  @apply px-5 py-2 border-2 border-dashed hover:border-title  border-desc text-gray rounded-lg hover:bg-black/30 hover:text-title cursor-pointer transition-all duration-200 active:scale-95 drop-shadow-xl/50    ease-in-out hover:scale-110;
 }
 .flexJustifyItems {
  @apply  flex justify-between items-center;
 }
 .desc2 {
  @apply text-desc2 text-lg hover:text-title;
 }
 .arrowBtn {
  @apply flex gap-[4px] font-semibold items-center py-[18px] pr-[49px] pl-[18px] bg-[#404040]  rounded-xl cursor-pointer border-2 border-dashed border-desc  text-gray hover:text-title hover:bg-black/80;
 }

}


/* анимация border */
@keyframes dash-blink {
  0%, 100% {
    border-color: rgba(255, 255, 255, 0.2);
  }
  50% {
    border-color: rgba(255, 255, 255, 1);
  }
}

.border-blink {
  animation: dash-blink 2s infinite;
}



/* анимация мигания для svg  */


@keyframes pulseScaleGlow {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.4));
  }
}
.auto-pulse-glow {
  animation: pulseScaleGlow 3s ease-in-out infinite;
}
@theme {
  --color-title: #fff;
  --color-desc: #81807e;
  --color-dark: #262626;
  --color-gray: #b3b3b2;
  --color-btn: #ab9c87;
  --color-desc2: #676665;
}
main {
  @apply flex-1;
}