@import "tailwindcss";

@layer base {
  html {
    @apply min-h-screen;
  }
  body {
    @apply min-h-screen;
    font-family: "Roboto Variable", sans-serif;
  }
  #root {
    @apply min-h-screen flex flex-col;
  }
}

@layer utilities {
  .container {
    @apply w-full max-w-[1600px] mx-auto px-5;
  }
 .borBottom {
  @apply border-b-2 border-dashed border-desc;
 }
 .borTop{
  @apply  border-t-2 border-dashed  border-desc;
 }
 .flexJustifyItems {
  @apply  flex justify-between items-center;
 }
 .desc2 {
  @apply text-desc2 text-lg hover:text-title;
 }
}

@theme {
  --color-title: #fff;
  --color-desc: #81807e;
  --color-dark: #262626;
  --color-gray: #b3b3b2;
  --color-btn: #ab9c87;
  --color-desc2: #676665;
}
main {
  @apply flex-1;
}